/* src/pages/index.css */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    width: auto;
    max-width: 1020px;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    margin-top: 20px;
  }
  
  p {
    color: #555;
  }
  